{% include 'common/templates/header.j2' %}

BORG_REPOSITORY="{{ borgbackup_vars.repository }}"
BORG_ARCHIVE_FORMAT="{now}"
BORG_COMPRESSION="{{ borgbackup_vars.compression }}"
BORG_ENCRYPTION="{{ borgbackup_vars.encryption }}"
{% if borgbackup_vars.passphrase %}
BORG_PASSPHRASE="{{ borgbackup_vars.passphrase }}"
{% endif %}

BORG_KEEP_DAILY="{{ borgbackup_vars.keep_daily }}"
BORG_KEEP_WEEKLY="{{ borgbackup_vars.keep_weekly }}"
BORG_KEEP_MONTHLY="{{ borgbackup_vars.keep_monthly }}"
